[project]
name = "textual-continuacion"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "pyinstaller>=6.17.0",
    "pyttsx3>=2.99",
    "textual>=6.7.1",
]
